@using JobJournal.Data.Enums
@*Defining model*@
@model IEnumerable<JobInfo>


@*Defining ViewData*@
@{
    ViewData["Title"] = "Job Infos";
}


<form asp-controller="JobInfos" asp-action="Index" method="get">
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search Company or Role..." value="@ViewData["CurrentFilter"]"/>
        </div>
        <div class="col-md-3">
            <select name="statusFilter" asp-items="Html.GetEnumSelectList<ApplicationStatus>()" class="form-control">
                <option value="">All Status</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <td>Company Name</td>
            <td>Role</td>
            <td>Job Summary</td>
            <td>Status</td>
            <td>Applied via</td>
            <td>Applied Time</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var job in Model)
        {
            <tr>
                <td>@job.companyName</td>
                <td>@job.role</td>
                <td>@job.jobSummary</td>
                <td>
                    <span class="status-@job.applicationStatus.ToString() px-2 py-1 rounded">
                        @job.applicationStatus
                    </span>
                </td>
                <td>@job.appliedVia</td>
                <td>@job.appliedTime.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@job.id" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></a>
                    <a asp-action="Delete" asp-route-id="@job.id" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="text-white d-flex justify-content-end">
    <a asp-controller="JobInfos" asp-action="Create" class="btn btn-outline-success"> <i class="bi bi-plus-circle"></i> Add New Application</a>
</div>