@using JobJournal.Data.Enums
@*Defining model*@
@model IEnumerable<JobInfo>


@*Defining ViewData*@
@{
    ViewData["Title"] = "Job Infos";
}


<form asp-controller="JobInfos" asp-action="Index" method="get">
    <div class="row mb-3 align-items-center">
        <div class="col-md-4">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search Company or Role..." value="@ViewData["CurrentFilter"]" />
        </div>
        <div class="col-md-3">
            <select name="statusFilter" asp-items="Html.GetEnumSelectList<ApplicationStatus>()" class="form-control">
                <option value="">All Status</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Clear</a>
        </div>
        <div class="col-md-2 text-end">
            <a asp-controller="JobInfos" asp-action="Create" class="btn btn-outline-success"> <i class="bi bi-plus-circle"></i> Add New</a>
        </div>
    </div>
</form>


<div class="table-responsive mb-5">
    <table class="table">
        <thead>
            <tr>
                <td>Company Name</td>
                <td>Role</td>
                <td>Job Summary</td>
                <td>Status</td>
                <td>Applied via</td>
                <td>Applied Time</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var job in Model)
                {
                    <tr>
                        <td>@job.companyName</td>
                        <td>@job.role</td>
                        <td>@job.jobSummary</td>
                        <td>
                            <span class="status-@job.applicationStatus.ToString() px-2 py-1 rounded">
                                @job.applicationStatus
                            </span>
                        </td>
                        <td>@job.appliedVia</td>
                        <td>@job.appliedTime.ToString("MMMM d, yyyy")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@job.id" class="btn btn-sm btn-outline-primary me-1"><i class="bi bi-pencil"></i></a>
                            <a asp-action="Delete" asp-route-id="@job.id" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center text-muted">
                        No Job Application Found. Start by adding a new one!
                        <a asp-controller="JobInfos" asp-action="Create" class="btn btn-sm btn-outline-success"> <i class="bi bi-plus-circle"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (TempData["JobCreatedMessage"] != null || TempData["JobCreationFailedMessage"] != null)
{
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">

            @if (TempData["JobCreatedMessage"] != null)
            {
                <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                    <div class="d-flex">
                        <div class="toast-body">
                            @TempData["JobCreatedMessage"]
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            }

        </div>
    </div>

}



